:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #535bf2;
  }

  /* Style the thumb */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.87);
  }
}

#root {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: 157px 1fr auto;
  grid-template-areas:
    "header-buttons header-hero header-hero"
    "aside main main"
    "aside footer footer";
  padding-top: 0 !important;
  margin-top: 0;
  top: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin-top: 0;
  place-items: center;
  min-height: 100vh;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  padding-bottom: 10px;
  height: 150 px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  width: auto;
  background-color: #242424;
}

#header-hero-image {
  grid-area: header-hero;
  height: 150px;
  width: auto;
}

#main-header-buttons #main-header-title {
  line-height: 0;
  font-size: 2.5em;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  top: 157px;
  position: sticky;
  align-self: start;
  text-align: left;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 157px;
  align-self: flex-start;
  max-height: 60dvh;
  overflow-y: scroll;
  border-left: #535bf2;
  border-left-style: solid;
  padding-left: 5px;
}

.searchbar {
  display: flex;
  position: fixed;
  top: 157px;
  width: auto;
  align-self: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  margin-top: 20px;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 800px) {
  #root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header header"
      "aside main main"
      "aside footer footer";
  }

  aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    top: 66.38px;
    height: calc(100vh - 66.38px);
    position: fixed;
    align-self: start;
    display: none;
  }

  .show-sidebar {
    display: block;
  }
}

/*Article Cards*/

.article-card {
  display: grid;
  grid-template-columns: 157px 1fr 75px;
  grid-row: 125px;
  grid-template-areas: "article-card-image article-card-info article-card-stats";
  align-items: center;
}

.article-card-head-image {
  height: auto;
  width: 157px;
  border-radius: 20%;
  border-color: dimgrey;
  border-width: 1px;
  border-style: solid;
  grid-area: article-card-image;
}

.article-card-head-title {
  margin-bottom: 0;
}

.article-card-head-info {
  grid-area: article-card-info;
  margin-left: 100px;
}

.article-card-stats {
  grid-area: article-card-stats;
}

/* Single Article Page */

.article-head {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.article-head-image {
  border-radius: 20%;
  border-color: goldenrod;
  border-width: 1px;
  border-style: solid;
  width: 35%;
  height: auto;
}

.article-start-accent {
  font-size: 2em;
  font-weight: bolder;
  color: goldenrod;
}

.article-body {
  margin: 15px;
  padding: 15px;
}

.user-interaction-box {
  display: flex;
}

.user-interaction-button-text {
  font-size: 0.7em;
}

.user-article-interaction-box-button {
  background-color: transparent;
}
