:root {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #1976d2;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.87);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #1976d2;
  }
  a:hover {
    color: #1976d2;
  }
  button {
    --accent: #1976d2;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent: #1976d2;
  }
  a:hover {
    color: #1976d2;
  }
  button {
    --accent: #1976d2;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

a {
  font-weight: 500;
  color: light-dark(#242424, #eff2f6);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

body {
  height: 100vh;
  background-color: light-dark(#eff2f6, #242424);
}

article {
  text-align: left;
  background-color: light-dark(#eff2f6, #242424);
}

.nn-logo {
  height: 40px;
  width: auto;
}

.muiBox-root {
  max-height: 64px;
}

.select {
  width: auto;
  height: 40px;
  cursor: pointer;
  background-color: light-dark(#eff2f6, #242424);
  border-radius: 5px;

  &_expand {
    width: 0;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;

    &::after {
      content: "\003E";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%) rotate(90deg) scaleY(1.75);
      color: #3e3e3e;
      font-size: 28px;
      pointer-events: none;
      z-index: 2;
      transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
      opacity: 0.6;
    }

    &:hover::after {
      opacity: 1;
    }

    &:checked::after {
      transform: translate(-50%, -50%) rotate(90deg) scaleX(-1) scaleY(1.75);
    }
  }

  &_expandLabel {
    display: block;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  &_close {
    display: none;
  }

  &_closeLabel {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }

  &_items {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #2fb5d1;
    border-radius: 2px;
    padding-top: 40px;
  }

  &_input {
    display: none;
  }

  &_label {
    transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
    display: block;
    height: 0;
    font-size: 1.2rem;
    line-height: 40px;
    overflow: hidden;
    color: light-dark (#3e3e3e, #3e3e3e);
    background-color: light-dark (#fff, #fff);
    cursor: pointer;
    padding-left: 20px;

    &-placeholder {
      height: 40px;
      vertical-align: middle;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.6;
      background-color: transparent;
    }
  }

  &_expand:checked {
    + .select_closeLabel {
      display: block;

      + .select_options {
        .select_label {
          height: 40px;
          &:hover {
            background-color: #f7f7f7;
          }
        }

        + .select_expandLabel {
          display: none;
        }
      }
    }
  }

  &_input:checked + .select_label {
    height: 40px;
    margin-top: -40px;
  }
}

main {
  flex: 1 0 auto;
  margin-top: 64px; /* Same as header height */
  margin-bottom: 30px; /* Same as footer height, if footer is fixed */
  /* overflow-y: auto; */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 64px; /* Adjust as needed */
  z-index: 1000;
}

.searchbar {
  position: sticky;
  top: 64px;
  z-index: 990;
  background-color: light-dark(#eff2f6, #242424);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  padding-bottom: 4px;
}

.searchbar * {
  margin-left: 5px;
}

form {
  text-align: left;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

label {
  font-size: 0.8rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

/*Article Cards*/
#loading-container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-evenly !important;
  gap: 1rem !important;
  width: 100% !important;
  margin-bottom: 250px;
}

.loading-item {
  display: flex; /* Allows internal layout if needed */
  flex: 0 0 auto; /* Don't grow or shrink */
  max-width: 100%; /* Prevent overflow */
}

.articles-feed {
  display: flex;
  flex-wrap: wrap;
  /* margin: 20px; */
  align-items: stretch;
  justify-content: center;
  justify-content: space-evenly;
  width: auto;
  background-color: light-dark(#eff2f6, #242424);
  text-wrap: balance;
}

* .article-card-container {
  display: grid;
  grid-auto-rows: 1fr;
  margin: 10px;
  max-width: 350px;
  width: 100%;
  align-items: stretch;
}

.article-card-image {
  max-height: 215px;
}

.article-card-topic-link,
.article-card-topic-link:visited,
.article-card-topic-link:hover,
.article-card-topic-link:active,
.article-card-topic-link:focus {
  color: #ffffff;
}

/* Single Article Page */

.article-head {
  display: flex;
  width: inherit;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

#article-head-title,
#article-head-subtitle {
  margin-left: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#article-tagline {
  margin-left: 15px;
  justify-content: bottom;
}

#article-author {
  margin-left: 15px;
  padding: 0;
}

.article-head-image {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin: 5px;
  justify-self: center;
}

.article-start-accent {
  font-size: 2em;
  font-weight: bolder;
  color: light-dark (#1976d2, #ffffff);
  margin: 0;
}

.article-body {
  margin-left: 15px;
  margin-right: 15px;
}

.user-interaction-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.user-interaction-button-text {
  font-size: 0.7em;
}

#article-downvote,
#article-upvote {
  background-color: transparent;
  color: #1976d2;
  box-shadow: 1px 1px 1px #999;
}

#article-downvote:disabled,
#article-upvote:disabled {
  background-color: transparent;
  color: light-dark(#8a8a8a, #8a8a8a);
  box-shadow: 1px 1px 1px #999;
}

.error-text {
  text-align: center;
  color: orange;
}

#commenting-area {
  width: 100%;
  padding-left: 15px;
}

#commenting-area textarea {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  box-sizing: border-box;
  width: 95%;
}

.comment-card {
  margin-bottom: 5px;
  border-top-color: #1976d2;
  border-top-style: double;
  border-top-width: 1px;
}

.comments-feed {
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
}

.comment-card-body {
  margin-bottom: 10px;
}

.comment-card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 30px; /* Adjust as needed */
  z-index: 1000;
  background-color: light-dark(#eff2f6, #242424);
}
